---
import type { Product } from "../../netlify/functions/get-product-list";

const { id } = Astro.params;
const response = await fetch(`https://precious-manatee-ee242e.netlify.app/.netlify/functions/get-product?id=${id}`);
const body = await response.json();
const product: Product = body.data;
---
<div>
  <div class="bg-white">
    <div class="pt-6">
      {/* Image gallery */}
      <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
        <div class="aspect-w-3 aspect-h-4 hidden overflow-hidden rounded-lg lg:block">
          <img src={product?.public_primary_asset_file_url} alt={product.title} class="h-full w-full object-cover object-center lg:h-full lg:w-full"/>
        </div>
      </div>

      {/* Product info */}
      <div class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24">
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{product?.meta_attributes?.meta_title?.value}</h1>
        </div>

        {/* Options */}
        <div class="mt-4 lg:row-span-3 lg:mt-0">
          <h2 class="sr-only">Product information</h2>
          <p class="text-3xl tracking-tight text-gray-900">£{product?.max_current_price}</p>

          <form class="mt-10">
            {/* Colors */}
            <div>
              <h3 class="text-sm font-medium text-gray-900">Color</h3>
            </div>

            {/* Sizes */}
            <div class="mt-10">
              <div class="flex items-center justify-between">
                <h3 class="text-sm font-medium text-gray-900">Size</h3>
                <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">
                  Size guide
                </a>
              </div>
            </div>

            <button
              type="submit"
              class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              Add to bag
            </button>
          </form>
        </div>

        <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pt-6 lg:pb-16 lg:pr-8">
          {/* Description and details */}
          <div>
            <h3 class="sr-only">Description</h3>

            <div class="space-y-6">
              <p class="text-base text-gray-900">{product?.meta_attributes?.meta_description?.value}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
